@charset "UTF-8";
@import url('fonts.css');
body {
    background-color: #f9f9f9;
    font-family: sans-serif;
    margin: 0;
}

header {
    border-bottom: solid 1px #345D7D;
    padding: 15px 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 22pt;
    color: #345D7D;
}

.logo-pink {
    color: #F2717F;
}

.username-wrapper {
    display: flex;
    align-items: center;
}

.username-wrapper>span {
    margin-right: 15px;
    font-size: 18pt;
    color: #345D7D;
}

.logout-wrapper {
    width: 30px;
}

.logout-wrapper>img {
    width: 100%;
}


/* Menu */

nav {
    position: fixed;
    width: 64px;
    height: 409px;
    left: 31px;
    top: 25%;
    background: linear-gradient(180deg, #345D7D 0%, #6F5A7D 100%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu-icon-wrapper {
    width: 35px;
}

.menu-icon-wrapper>img {
    width: 100%;
}

.content {
    margin-left: 120px;
    margin-right: 70px;
    padding: 20px;
}

.title {
    font-family: Catamaran;
    color: #F2717F;
    font-size: 32px;
    line-height: 30px;
    margin-left: 5%;
}

.form {
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.form button {
    font-family: Catamaran;
    font-size: 26px;
    color: #FFF;
    line-height: 48px;
    border: none;
    background-color: #C06C84;
    border-radius: 14px;
    padding: 4px 30px;
    margin-right: 5%;
}

.input-form {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.input-form2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form2 textarea {
    width: 90%;
    display: flex;
    justify-content: space-around;
    font-family: Catamaran;
    font-size: 20px;
    color: #345D7D;
    line-height: 45px;
    background-color: #f9f9f9;
    border-width: 0 0 2px 0;
    border-color: #345D7D;
    margin: 10px 0;
}

.input-form2 textarea:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.input-form2 label {
    font-family: Catamaran;
    font-size: 20px;
    color: #345D7D;
    line-height: 45px;
    display: flex;
    width: 100%;
    margin-left: 10%;
}

.box {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.box input,
select {
    font-family: Catamaran;
    font-size: 20px;
    color: #345D7D;
    line-height: 45px;
    background-color: #f9f9f9;
    border-width: 0 0 2px 0;
    border-color: #345D7D;
    margin: 10px 0;
}

.mini-box {
    display: flex;
    justify-content: space-between;
}

.normal {
    width: 48%;
}

.maior {
    width: 76%;
}

.menor {
    width: 20%;
}

.lista-alunos {
    margin-left: 5%;
}

.linha-aluno {
    background-color: #FFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 0 20px;
}

.linha-aluno p {
    font-family: Catamaran;
    color: #345D7D;
    font-size: 26px;
    line-height: 30px;
    margin: 12px 0;
}

.altura-diferente {
    margin-top: 22px;
}

.inputFile {
    width: 445px;
    height: 45px;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #345D7D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputFile span {
    font-family: Catamaran;
    font-size: 20px;
    color: #345D7D;
    line-height: 56px;
}

.inputFile input {
    width: 445px;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    cursor: pointer;
}