@charset "UTF-8";
@import url('headerMenu.css');
.content {
    margin-left: 120px;
    margin-right: 70px;
    padding: 20px;
}

.title {
    font-family: Catamaran;
    color: #F2717F;
    font-size: 32px;
    line-height: 30px;
    margin: 4% 0 2% 5%;
}

.data-ra {
    font-family: Catamaran;
    color: #345D7D;
    font-size: 20px;
    margin-left: 5%;
}

.form {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.form button {
    font-family: Catamaran;
    font-size: 26px;
    color: #FFF;
    line-height: 48px;
    border: none;
    background-color: #C06C84;
    border-radius: 14px;
    padding: 4px 30px;
    margin-right: 5%;
}

.form .align-erro {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form .align-erro p {
    margin-right: 20px;
    font-size: 16px;
    color: #F2717F;
}

.input-form {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.input-form2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form2 textarea {
    width: 90%;
    display: flex;
    justify-content: space-around;
    font-family: Catamaran;
    font-size: 20px;
    color: #345D7D;
    line-height: 45px;
    background-color: #f9f9f9;
    border-width: 0 0 2px 0;
    border-color: #345D7D;
    margin: 10px 0;
}

.input-form2 textarea:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.input-form2 label {
    font-family: Catamaran;
    font-size: 20px;
    color: #345D7D;
    line-height: 45px;
    display: flex;
    width: 100%;
    margin-left: 10%;
}

.box {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.box input,
select {
    font-family: Catamaran;
    font-size: 20px;
    color: #345D7D;
    line-height: 45px;
    background-color: #f9f9f9;
    border-width: 0 0 2px 0;
    border-color: #345D7D;
    margin: 10px 0;
}

.mini-box {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.normal {
    width: 48%;
}

.maior {
    width: 76%;
}

.menor {
    width: 20%;
}

.lista-alunos {
    margin-left: 5%;
}

.linha-aluno {
    background-color: #FFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 0 20px;
}

.linha-aluno p {
    font-family: Catamaran;
    color: #345D7D;
    font-size: 26px;
    line-height: 30px;
    margin: 12px 0;
}

.linha-aluno button {
    background-color: #FFF;
    border: none;
    cursor: pointer;
}

.altura-diferente {
    margin-top: 22px;
}

.inputFile {
    width: 445px;
    height: 45px;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #345D7D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputFile span {
    font-family: Catamaran;
    font-size: 20px;
    color: #345D7D;
    line-height: 56px;
}

.inputFile input {
    width: 445px;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    cursor: pointer;
}

.form-nav-wrapper {
    width: 45px;
    display: flex;
    justify-content: center;
}

.form-nav-wrapper>button {
    background: none;
    border: none;
    cursor: pointer;
}

.form-nav-wrapper>button>img {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}