@charset "UTF-8";
@import url('fonts.css');
body {
    background-color: #f9f9f9;
    font-family: sans-serif;
    margin: 0;
}

header {
    padding: 15px 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 36pt;
    color: #345D7D;
}

.logo-pink {
    color: #F2717F;
}

.content {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content p {
    font-family: Catamaran;
    font-size: 18px;
    color: #345D7D;
    line-height: 16px;
}

.content .erro {
    font-size: 16px;
    color: #F2717F;
    margin: 0;
}

.content a {
    color: #F2717F;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.form {
    min-height: 230px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form2 {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form3 {
    min-height: 150px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form input {
    width: 100%;
    font-family: Catamaran;
    font-size: 20px;
    color: #345D7D;
    line-height: 45px;
    background-color: #f9f9f9;
    border-width: 0 0 2px 0;
    border-color: #345D7D;
}

.form button {
    font-family: Catamaran;
    font-size: 26px;
    color: #FFF;
    line-height: 48px;
    border: none;
    background-color: #C06C84;
    border-radius: 10px;
}

.form2 input {
    width: 100%;
    font-family: Catamaran;
    font-size: 20px;
    color: #345D7D;
    line-height: 45px;
    background-color: #f9f9f9;
    border-width: 0 0 2px 0;
    border-color: #345D7D;
}

.form2 button {
    font-family: Catamaran;
    font-size: 26px;
    color: #FFF;
    line-height: 48px;
    border: none;
    background-color: #C06C84;
    border-radius: 10px;
}

.form3 input {
    width: 100%;
    font-family: Catamaran;
    font-size: 20px;
    color: #345D7D;
    line-height: 45px;
    background-color: #f9f9f9;
    border-width: 0 0 2px 0;
    border-color: #345D7D;
}

.form3 button {
    font-family: Catamaran;
    font-size: 26px;
    color: #FFF;
    line-height: 48px;
    border: none;
    background-color: #C06C84;
    border-radius: 10px;
}

.mini-input {
    display: flex;
    justify-content: space-between;
}

.mini-input input {
    width: 48%;
}

.redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redirect .new-password {
    color: #345D7D;
    text-decoration: none;
}

.redirect .new-password:hover {
    text-decoration: underline;
}

.redirect .login-adm {
    color: #345D7D;
    text-decoration: none;
    margin-top: 10px;
}

.redirect .login-adm:hover {
    text-decoration: underline;
}